@charset "UTF-8";
/*RESET*/
* {
  margin: 0px;
  padding: 0px; }

/*ESTILO DEL BODY*/
body {
  height: 100%;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #f8f5f6;
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px; }

/*CLASES DE COLOR*/
.textpink {
  color: pink; }

.textgreen {
  color: #52CD37; }

.textgrey {
  color: #757e86; }

/*ESTILO DE TEXTO Y LETRA*/
.estiloParrafo {
  font-style: normal;
  font-weight: bold;
  font-size: large;
  margin: 5px;
  padding: 5px; }

.fuente1 {
  font-family: "Roboto", sans-serif; }

.otrafuente {
  font-family: "Bebas Neue", cursiva; }

.centrar {
  text-align: center; }

.left {
  text-align: left;
}

.espaciado {
  letter-spacing: 4px; }

.espacioPalabra {
  word-spacing: 10px; }

.titulo {
  padding: 20px 25px 30px 20px;
  margin: 20px 25px 25px 20px;
  font-family: "Bebas Neue", cursiva; }

/*LISTA*/
ul {
  list-style-type: none;
  color: #757e86; }

/*/ESTILOS DE ALGUNAS ETIQUETAS*/
div p {
  margin-top: 40px;
  margin-bottom: 40px; }

h1 {
  font-weight: normal;
  font-size: 40px;
  margin-top: 10px; }

h2 {
  font-weight: normal;
  font-size: 20px;
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*IMAGEN*/
img {
  width: 200px;
  height: auto;
  margin: 15px;
  padding: 15px; }

@media only screen and (max-width: 768px) {
  img {
    min-width: 80px;
    min-height: 80px; } }

.logo {
  width: 80px;
}

.fondofuente {
  background-color: pink; }

/*SECCIONES*/
header {
  position: sticky;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

}

.footer {
  font-family: "Bebas Neue", cursiva;
  position: relative;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
  color: #757e86;
  background-color: white;

.section__footer {
  background-color: transparent; }

.section__sr-only {
  font-family: "Bebas Neue", cursiva; }


.newsletter {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  align-items: center !important; }

.inNews {
  width: 100%;
  display: flex;
  text-align: center; }

/*INDEX*/
.indexArticle {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 80px; }

section article img:hover {
  margin: 0 0.2rem;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s;
  /* don't forget to set a duration! */ }

.sectProd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center; }

/*SECCIÓN CONTACTO*/
fieldset {
  padding: 20px; }

.nav__li__nav-link {
  color: #757e86; }

/*SECCIÓN PRODUCTOS*/
.section__list-group-item-action {
  font-family: "Bebas Neue", cursiva; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/*SECCIÓN INFORMACIÓN*/
.nav__div__dropdown-item {
  color: #a5a2a2; }

.sectInf {
  height: 100%;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  color: #757e86;
  font-family: "Bebas Neue", cursiva; }
